.contact-form__content {
    padding: 30px 15px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.title {
    font-size: 23px;
    color: #8B7969;
    font-family: math;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 15px;
}

.form__label--item {
    color: #8B7969;
}

.form__label--required {
    color: #FF0000;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    padding-left: 30px;
}

.contact-form__button {
    margin-top: 30px;
}

.contact-form__button-submit {
    padding: 10px 20px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #D2B48C;
    color: #fff;
    cursor: pointer;
}